.box {
    border: 1px solid black;
    height: 30px;
    width:  30px;
    color:  white;
    font-size:      20px;
    font-weight:    bold;
    text-align:     center;
    display:        table-cell;
    vertical-align: middle;
    padding:        5px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
